<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xsi:schemaLocation="	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

    <!-- 载入常用的配置 -->
    <!--<context:property-placeholder location="classpath:db.properties,classpath:druid.properties"/>-->

    <!--&lt;!&ndash; 注解扫描所有包 &ndash;&gt;-->
    <!--<context:component-scan base-package="cn.lu.mybatis.mapper.*"/>-->

    <!--<context:annotation-config/>-->

    <!--&lt;!&ndash; 扫描缓存注解 &ndash;&gt;-->
    <!--<cache:annotation-driven/>-->

    <!-- 数据源 -->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost:3306/oneconnect?useUnicode=true&amp;characterEncoding=utf8&amp;useSSL=false" />
        <property name="username" value="lu" />
        <property name="password" value="123" />

        <property name="initialSize" value="3"/>
        <property name="minIdle" value="3"/>
        <property name="maxActive" value="20"/>
    </bean>

    <!-- 取代mybatis_config -->
    <!-- protected SqlSessionFactory buildSqlSessionFactory() throws IOException {} -->
    <!-- 创建SqlSessionFactory -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>

        <!-- 使用xml配置，自动扫描mapping.xml文件 -->
        <property name="mapperLocations" value="classpath:mybatis/mapper/*.xml"></property>

        <property name="plugins">
            <array>
                <bean class="cn.lu.mybatis.plugin.BlockChainInterceptor" />
            </array>
        </property>

        <!--<property name="typeAliasesPackage" value="cn.lu.mybatis.entity"/>-->
    </bean>

    <!-- 方法一：非注解使用方式，需要自己手工定义每一个Mapper -->
    <!--<bean id="userMapper" class="org.mybatis.spring.mapper.MapperFactoryBean" >-->
        <!--<property name="mapperInterface" value="cn.lu.mybatis.mapper.UserMapper" />-->
        <!--<property name="sqlSessionFactory" ref="sqlSessionFactory" />-->
    <!--</bean>-->

    <!-- 方法二：自动扫描，取代手工配置 -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!-- 自动扫描的位置 -->
        <property name="basePackage" value="cn.lu.mybatis.mapper"/>
        <!-- 自动扫描的注解 -->
        <property name="annotationClass" value="org.springframework.stereotype.Repository" />
        <!-- sqlSessionFactory -->
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
    </bean>


</beans>