<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lu.mybatis.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="cn.lu.mybatis.entity.User">
    <id column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="user_status" jdbcType="TINYINT" property="userStatus" />
    <result column="user_mobile" jdbcType="VARCHAR" property="userMobile" />
    <result column="user_email" jdbcType="VARCHAR" property="userEmail" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_gender" jdbcType="TINYINT" property="userGender" />
    <result column="user_birthday" jdbcType="DATE" property="userBirthday" />
    <result column="user_id_card" jdbcType="VARCHAR" property="userIdCard" />
    <result column="user_login_name" jdbcType="VARCHAR" property="userLoginName" />
    <result column="user_password" jdbcType="VARCHAR" property="userPassword" />
    <result column="user_salt" jdbcType="VARCHAR" property="userSalt" />
    <result column="delete_flag" jdbcType="TINYINT" property="deleteFlag" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <select id="queryById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    SELECT user_id, user_status, user_mobile, user_email, user_name, user_gender, user_birthday, user_id_card, user_login_name
    FROM `user`
    WHERE user_id = #{userId}
  </select>

  <select id="queryByStatus" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT user_id, user_status, user_mobile, user_email, user_name, user_gender, user_birthday, user_id_card, user_login_name
    FROM `user`
    WHERE user_status = #{userStatus}
  </select>

  <insert id="insertData" parameterType="cn.lu.mybatis.entity.User">
    insert into `user` (user_mobile, user_email, user_name, user_birthday, user_id_card, user_login_name)
    values (#{userMobile}, #{userEmail}, #{userName}, #{userBirthday}, #{userIdCard}, #{userLoginName})
  </insert>

  <update id="updateUserNameById" parameterType="cn.lu.mybatis.entity.User">
    update `user` set user_name = #{userName}
    where user_id = #{userId}
  </update>
</mapper>